@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Mulish:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --myfont: "Mulish", sans-serif;
  --btn-font: "Montserrat", sans-serif;
  --bg-gradient1: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  --bg-gradient2: linear-gradient(to left, #7f7fd5, #91eae4);
}

body {
  background-image: url("https://images.pexels.com/photos/18242112/pexels-photo-18242112/free-photo-of-footpath-in-the-mountains.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"),
    var(--bg-gradient2);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  font-family: var(--myfont);
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  width: calc(100vw - 65vw);
  max-width: 100%;
}

.header {
  background: var(--bg-gradient1);
  padding: 30px 0;
}

.header h2 {
  color: #222;
  font-family: var(--btn-font);
  text-align: center;
}

.form {
  padding: 40px;
}

.form-control {
  margin-bottom: 30px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}
.form-control input {
  width: 100%;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  display: block;
  font-family: var(--myfont);
  font-size: 14px;
  padding: 12px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control i {
  position: absolute;
  right: 12px;
  top: 40px;
  visibility: hidden;
}

.form-control small {
  color: #e74c3c;
  position: absolute;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form-control.error i.fa-circle-exclamation {
  color: #e74c3c;
  visibility: visible;
}

.form-control.success i.fa-circle-check {
  color: #2ecc71;
  visibility: visible;
}

.form .btn {
  background: var(--bg-gradient1);
  border-radius: 6px;
  border: none;
  outline: none;
  color: #fff;
  display: block;
  font-family: var(--btn-font);
  font-size: 16px;
  padding: 15px 0;
  margin-top: 20px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 1s ease;
  cursor: pointer;
}

.form .btn:hover {
  background: radial-gradient(
    circle,
    rgba(148, 187, 233, 1) 0%,
    rgba(238, 174, 202, 1) 100%
  );
}

@media (max-width: 998px) {
  .container {
    width: calc(100vw - 35vw);
    max-width: 100%;
  }
}
